@charset "UTF-8";
html,body{
  margin:0;
  padding:0;
  height:100%;
}

body{
 margin:0;
 padding:0;
 overflow-x: hidden;
}

header,footer{
  width:100%;
  box-sizing: border-box;
}

mian{
  flex:5;
}

header {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #4169e1;
  align-items: center;
 
}

.reserve header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #4169e1;
}

.page-reserve {
    padding-top: 70px; 
}
 

.title {
  margin-right: auto;
}
 
.menu-item {
  list-style: none;
  display: inline-block;
  padding: 10px;
}
button {
  width: 10em;
  height:3em;
}
.example{
    display: inline-block;
}
.example img{
    display: block;
}

footer {

  background-color: #4169e1;
  color: white;
  padding: 15px;
  margin-top: auto;
}

.footer-content{
  text-align:right;
}

.footer-content p:last-child{
  margin-bottom:0;
}



.box2{
  width:300px;
  height:auto;
  margin:0;
  text-align: center;
}

.class1{
  text-align:center;
}

.product-container {
    display: flex;       
    gap: 50px;          
}

.product-title {
    font-size: 1.5em;    
}


.link-gap{
  margin-right: 20px;
}

.button-container button{
  margin-bottom:10px;
}

.hidden{
  display:none;
}

.item_wrapper .item_list .item .item_btnarea .item_cart_btn {
  padding: 4px 1.2rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: #62e2dc;
  border: none;
  border-radius: 20px;
  outline: none;
}

.item_wrapper .item_list .item .item_btnarea .item_cart_btn_active {
  background-color: #f5d883 !important;
}

.table-container {
    width: 100%;         
    overflow-x: auto;      
    white-space: nowrap;   
    -webkit-overflow-scrolling: touch; 
    padding-bottom: 10px; 
}

.float-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 24px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  z-index: 999;
}

.float-btn img {
  width: 36px;     
  height: auto;
  vertical-align: middle;
}

.sheet-container {
    position: relative;
    width: 30%;       /* 横幅いっぱいに広げる */
    height: 500px;     /* 表示したい高さ（自由に調整してください） */
    overflow: hidden;  /* はみ出た部分（＞マーク）を強制的に非表示にする */
}

.sheet-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% + 30px); /* 縦幅を少しだけ長くして、下部を枠外に押し出す */
}
